<div class="container mt-5 col-md-6">
  <div class="card shadow p-4">
    <h3 class="text-center text-primary mb-3">Change Password</h3>
    <form (ngSubmit)="changePassword()" #cpForm="ngForm">
      <div class="mb-3">
        <label>Old Password</label>
        <input type="password" class="form-control" name="oldPassword" [(ngModel)]="oldPassword" required />
      </div>

      <div class="mb-3">
        <label>New Password</label>
        <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword" required />
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="!cpForm.valid">
        Update Password
      </button>
    </form>
  </div>
</div>
